body {
  margin: 0;
  background: #f6f6f6;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 10px;
  background: #3a373d;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #3a373d;
  gap: 8px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  margin-left: 10px;
  padding: 10px;
}

/* チャット */
.message {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  gap: 10px;
}

.message img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.bubble {
  background: #ffffff;
  padding: 10px;
  border-radius: 2px 12.5px 12.5px 12.5px;
  box-shadow: -1px 1px 0 rgb(134, 131, 131);
}

.avatar {
  width: 60px !important;
  height: 60px;
  border-radius: 120%;
  background: #000000;
  object-fit: cover;
  object-position: center 20%;
  top: 1px; 
  display: block;
}

.chat-row {
  display: flex;
  align-items: flex-start; /* ← これがポイント */
  gap: 100px;
}

.chat-content {
  display: flex;
  flex-direction: column;  /* ← 縦並びにする */
}

.name {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444444;
}

/* 上段：入力欄 */
.input-area {
  display: flex;
}

/* 下段：キャラ＋オプション */
.option-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* キャラ選択 */
#characterSelect {
  padding: 6px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
}

/* オプションボタン */
.option-btn {
  padding: 6px 10px;
  background: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-btn:hover {
  background: #666;
}